.trackClass {
  height: 5px;
  background-color: #dddddd;
}

.trackClass-1 {
  background-color: #3f83f8;
}

@keyframes prdCarousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-320px * 20));
  }
}

#productCarousel {
  animation: prdCarousel 120s infinite linear;
}

#productCarouselBox:hover #productCarousel {
  animation-play-state: paused;
}

.productWrapper::-webkit-scrollbar,
#productCarouselBox::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.productWrapper,
#productCarouselBox {
  overflow: -moz-scrollbars-none; /* Hides the scrollbar */
}
